// Media breakpoints
$breakpoint-big-desktop: 1800px;
$breakpoint-tablet: 1024px;
$breakpoint-phone: 768px;

// Colors
$black: #000;
$primary-color: #55c57a;
$primary-light: #7ed56f;
$primary-dark: #28b485;
$orange-light: #ffb990;
$orange-dark: #ff7730;
$blue-light: #2998ff;
$blue-dark: #5643fa;
$grey: #777;
$grey-light: #ebebeb;
$grey-dark: #999;
$grey-dark-2: #333;
$white: #fff;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter: 6rem;